# ROS2 Build artifacts
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# IDEs
.vscode/
.idea/

# Trash and backup
trash/

# OS specific
.DS_Store
Thumbs.db

.agents/
.claude

# Ignore logs and reports but keep folders
tank_logs/*
!tank_logs/.gitkeep
reports/*
!reports/.gitkeep